body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bigE img.emoji {
    height: auto;
    width: 5em;
}

.select-wrapper + label {
    top: -80px;
    padding-left: 200px;
    position: absolute;
}

.nameField {
    margin-top: 4em;
}

.container .row .col {
   padding: 1.5em;
}

.rowPads {
    padding: 2em;
}

.buttonDiv {
    margin: 4em 0em;
}

a:link {
    color: white;
}